---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A highly motivated and results-oriented Data Scientist and AI Engineer with a strong foundation in machine learning, deep learning, and data analysis. Proven ability to develop and deploy predictive models, automate workflows, and create data-driven solutions. Experienced in leveraging LLMs, computer vision, and various data science libraries to solve complex problems and deliver actionable insights.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Masters of Engineering in Artificial Intelligence"
      subtitle="Sep 2023 to Jun 2025 at University of the Philippines – Diliman, Quezon City, Metro Manila"
    />
    <TimeLineElement
      title="Bachelor of Science in Chemical Engineering"
      subtitle="Aug 2015 to May 2020 at Saint Louis University, Baguio City"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Analyst / Scientist at Those Who Care"
      subtitle="From October 2024 to Present at Remote"
    >
      Developed a predictive model for cancellation rates which has significantly reduced error rates compared to the existing model. Automated workflows using AppsScript for database queries and automated email notifications to stakeholders. Regularly maintained data refresh processes for integrating incoming data into the database. Developed Looker reports accessible to clients to provide actionable insights. Conducted client meetings to present data insights and recommendations.
    </TimeLineElement>
    <TimeLineElement
      title="AI Engineer Intern at Netopia AI"
      subtitle="From August 2024 to September 2024 at Remote"
    >
      Developed code leveraging LLMs like LLaMA to simulate human reactions to political statements based on behavior derived from survey responses. Experimented with various prompt engineering techniques and input structures to optimize model performance. Researched and conceptualized a data-driven chatbot capable of querying user inputs, retrieve relevant database information, and generate contextually accurate responses.
    </TimeLineElement>
    <TimeLineElement
      title="Hydrogen Process Engineer / Data Analyst at Petron Corporation (Refinery)"
      subtitle="From Mar 2022 to July 2024 at Limay, Bataan"
    >
      Applied machine learning methodologies to analyze and explore refinery datasets to extract valuable insights for process optimization. Developed and maintained Power BI dashboards for weekly highlights of process parameter conformities. Prepared and delivered comprehensive reports detailing predictive model outcomes and recommendations to the management. Developed predictive models for the remaining lifetime of catalysts, extending their life by 3 years and reducing costs by 50M Php. Led the optimization of steam drum blowdown, resulting in a 30% reduction in water consumption (20,000 L/day) and a 20% reduction in chemical usage. Applied statistical analysis to assess the significance of parameter changes in the process. Collaborated with cross-functional teams to troubleshoot process issues, and propose profitable projects.
    </TimeLineElement>
    <TimeLineElement
      title="Online Tutor / Review Center Lecturer at Freelance Tutor"
      subtitle="From Aug 2020 to Mar 2022"
    >
      Identified among the top 1% of online tutors, earned proficiency badges in Mathematics, Engineering, etc. Delivered lectures to students preparing for the chemical engineering board exam.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards and Achievements</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Graduated Magna Cum Laude and achieved the highest General Weighted Average among Chemical Engineering Students of Batch 2020.
    </li>
    <li>
      Attained the third-highest examination rating in the October 2021 National Chemical Engineering Licensure exam.
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>SQL</li>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>Seaborn</li>
    <li>Scikit-learn</li>
    <li>PyTorch</li>
    <li>TensorFlow</li>
    <li>Keras</li>
    <li>LLMs (LLaMA)</li>
    <li>Prompt Engineering</li>
    <li>RAG</li>
    <li>Django</li>
    <li>Flask</li>
    <li>Streamlit</li>
    <li>Power BI</li>
    <li>Looker</li>
    <li>AppsScript</li>
    <li>YOLO</li>
    <li>Transformers</li>
    <li>Statistical Analysis</li>
    <li>Machine Learning</li>
    <li>Deep Learning</li>
    <li>Data Preprocessing</li>
    <li>Feature Engineering</li>
    <li>Hyperparameter Tuning</li>
  </ul>
</BaseLayout>
