---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Projects</div>
  </div>

  <HorizontalCard
    title="Google ADK Multi-Agent Framework with RAG, SOP, and BigQuery Agents"
    img="/public/project1.webp"
    desc="A multi-agent system on Vertex AI using Google’s ADK, featuring a manager that delegates to specialized agents: a RAG agent for document retrieval, an SOP agent for procedures in Google Sheets, and a BigQuery agent for natural language to SQL queries. It showcases how multi-agent orchestration can unify knowledge retrieval, procedural guidance, and data analytics."
    url="https://github.com/alistermarc/TWC_Hackathon_2",
    tags={["Google Cloud ADK", "Multi-agent Framework", "Vertex AI", "RAG", "BigQuery"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Automated Workflow for Electronics Data Extraction"
    img="/public/project2.webp"
    desc="An automated pipeline for extracting structured data from unstructured electronics datasheets (PDFs). The system combines OCR, markdown conversion, chunking, and LLM-driven parsing in a graph-based workflow to capture manufacturer part numbers, descriptions, packaging, and markings. It includes intelligent filtering, retries, and validation, producing clean, deduplicated outputs for large-scale electronics data processing."
    url="https://github.com/alistermarc/Agentic-Workflow-for-Electronics-Data-Extraction",
    tags={["Langchain","Sequential Workflow", "OCR", "Open-source Tools", "Data Extraction"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="RAG Chatbot for Government Documents"
    img="/public/project3.webp"
    desc="A Django-based Retrieval-Augmented Generation (RAG) chatbot designed for government ordinances and resolutions. It integrates AWS Textract for document parsing, Weaviate for vector search, and the OpenAI API for generation, enabling natural language queries with accurate, source-grounded answers to improve access to government information."
    url="https://github.com/alistermarc/Capstone-Project",
    tags={["RAG", "AWS Textract", "Weaviate Vector DB", "Open AI API", "Django Framework"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Multimodal RAG Pipeline for Document Analysis"
    img="/public/project4.webp"
    desc="This is an end-to-end system for processing PDF documents by extracting text and figures, generating AI-based figure summaries, and enabling hybrid retrieval across text and images. The pipeline stores figure summaries in a vector database while keeping the original images locally, allowing queries to return both textual and visual context for more comprehensive answers."
    url="https://github.com/alistermarc/Capstone-Project"
    tags={["Multimodel RAG", "AWS Textract", "Chroma DB", "Open AI API", "Hybrid Search"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AI-Driven Refinery Hydrogen Consumption Forecasting"
    img="/public/project5.webp"
    desc="This project enhances hydrogen consumption prediction in refinery hydrotreating processes using a machine learning pipeline with outlier detection, feature selection, and advanced regression modeling. Trained on refinery time-series data, the solution provides a more accurate and robust tool for optimizing hydrogen usage and improving refinery efficiency."
    url="https://github.com/alistermarc/hydrogen-consumption-prediction"
    tags={["Auto ML", "EDA", "Dim Reduction", "Hyperparameter Tuning", "Ensemble Learning"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Grocery Item Detection and Segmentation System"
    img="/public/project10.webp"
    desc="Designed and deployed an image detection and segmentation system for grocery items using YOLO and integrated with Streamlit for user interface."
    url="https://github.com/alistermarc/grocery-items-detection-segmentation"
    tags={["YOLO", "Streamlit", "Computer Vision", "Data Agumentation", "Data Annotation"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Classical ML for Filipino Fake News Detection"
    img="/public/project6.webp"
    desc="This project tackles fake news detection in the Filipino language by leveraging classical machine learning techniques instead of complex transformer-based models. Using TF-IDF for feature extraction and scikit-learn classifiers, the study evaluated individual, ensemble, and neural network approaches. The best-performing model was deployed through a Flask web app, providing a simple, efficient, and accessible tool to combat misinformation in the Philippines."
    url="https://github.com/alistermarc/filipino-fake-news-detection"
    tags={["Classification ML", "Bag-of-Words", "TF-IDF", "Scikit-learn", "Hyperparam Tuning"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Adaptive In-Context Learning for Niche Translations"
    img="/public/project7.webp"
    desc="This project explores the translation capabilities of CuatroLLM, a 1.3B parameter, four-language model (English, French, Spanish, German), with a focus on adaptive fine-tuning for specialized domains and low-resource language extension. We replicated CuatroLLM’s benchmark performance, improved English–French scientific translations using adaptive machine translation techniques, and tested English–Filipino translation. Results show that adaptive in-context learning boosts domain-specific translations in supported languages, but extending to low-resource languages like Filipino requires larger datasets and pre-training support."
    url="https://github.com/alistermarc/cuatrollm-adaptive-low-resource-mt"
    tags={["PEFT/LoRA", "Hugging Face", "Benchmark Replication", "Adaptive MT"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Tube Temperature Monitoring App"
    img="/public/project8.webp"
    desc="Reformer Tube Temperature Monitoring Application is a Dash-based web tool that connects to a PostgreSQL database for monitoring and managing reformer tube metal temperatures and air register openings. It provides data entry, visualization, reporting, user management, and revision tracking to streamline plant operations."
    url="https://github.com/alistermarc/tube-temperature-monitoring"
    tags={["Python", "Dash", "PostgreSQL", "Database Management"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Llama 3.2 Benchmark Evaluation"
    img="project9.webp"
    desc="This project replicates Meta’s published results on the Infinite Bench benchmark, which tests the long-context comprehension of large language models. Using the Llama 3.2 1B Instruct model, the project runs evaluations on the longbook_qa_eng dataset and reports ROUGE-1 scores to measure performance."
    url="https://github.com/alistermarc/infinite-bench-llama-3.2-benchmarking"
    tags={["LLM Benchmarking", "Llama 3.2 1B", "Hugging Face"]}
  />
</BaseLayout>
